 .textMain
 {
    font-family: Cookie;
color: white;
text-shadow: 2px 2px #ff0000;
font-size: 200%;
	font-style: italic;
	font-variant: normal;
	font-weight: 700;
	line-height: 40.7px;
	margin-top: 6%;
}
.styletextsmall
{
 
	font-size: 20px;
	font-variant: normal;
	font-weight: 700;
	line-height: 40.7px;
	margin-top: 6%;
	color: yellow;
	text-shadow: 2px 2px #ff0000;
}
.styletext
 {
    font-family: cursive;
	font-size: 37px;
	font-style: italic;
	font-variant: normal;
	font-weight: 700;
	line-height: 40.7px;
	margin-top: 6%;
	color: yellow;
	text-shadow: 2px 2px #ff0000;
}
.share:hover {
    opacity: 0.7;
}